body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(45deg, #ff3d00, #ffcc00);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2, h3 {
    color: #ffcc00;
}

main {
    padding: 20px;
}

.event-info {
    margin-bottom: 20px;
}

.ticket-purchase, .upload-info {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}

.ticket-option {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input[type="checkbox"] + label {
    display: block;
    background: #444;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked + label {
    background: #ffcc00;
    color: #000;
}

input[type="checkbox"]:checked + label:hover {
    background: #ffd700; /* Cor ao passar o mouse */
}

button {
    background-color: #ff3d00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffcc00;
}

#qr-code {
    text-align: center;
    margin-top: 15px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #222;
}

/* Keyframes para animação */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.ticket-purchase, .upload-info {
    animation: fadeIn 1s ease-in-out;
}
